div#questionFrame1
    div#questionFrame2=question

form#response
    input(type='hidden', name='response-type', value=responseType)
    input#question-input(type='text', name='answer', placeholder='Your response...', autocomplete='off')
    button.sprite_button.submit

table#respondingPlayers