div#questionFrame1
    div#questionFrame2 Game ID:&nbsp;
        span.uppercase=roomId

h3 Waiting For Players

ol#playersInRoom
form#response
    input(type='hidden', name='response-type', value=responseType)
    button#start.sprite_button.hidden
h4#minimumRequired (Need at least three players to begin)