h1 Pick a Question
form#response
    input(type='hidden', name='response-type', value=responseType)
    button.choice(name='choice', value='0') #{questions[0]}
    button.choice(name='choice', value='1') #{questions[1]}
    button.choice(name='choice', value='2') #{questions[2]}