form#response
    input(type='hidden', name='response-type', value=responseType)
    input.uppercase(type='text', name='name', maxlength='16', autocomplete='off', placeholder='Your name, please')
    button.sprite_button.submit